/** @format */

.nav_btn_container {
  height: 155px;
  width: fit-content;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 30px;
  gap: 20px;
}
.current_theme_name {
  font-family: Poppins;
  font-size: 0.7vw;
  opacity: 100%;
  color: var(--secondary-color);
  animation: Glow 7s infinite alternate;
  transition: ease-in-out;
  padding: 13px 10px;
  cursor: pointer;
}


/* Restart button */
.btn {
  align-items: center;
  appearance: none;
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  border-radius: 0.375em;
  box-shadow: none;
  box-sizing: border-box;
  color: var(--secondary-color);
  cursor: pointer;
  display: inline-flex;
  font-family: Poppins;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  height: 2.5vw;
  justify-content: center;
  line-height: 1.5;
  padding: calc(0.5em - 1px) 2em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  opacity: 100%;
}

.btn:active {
  box-shadow: rgba(0, 2, 12, 0.164) 0 0 0 0.125em;
  outline: 0;
}

.btn:focus {
  outline: 0;
}
.btn:hover {
  border-color: var(--secondary-color);
  filter: blur(0px);
}
.btn-primary {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.btn-primary:hover {
  border-color: var(--secondary-color);
}
@media (max-width: 768px) and (min-width: 370px) {
  .current_theme_name {
    font-size: 2vw !important;
  }
}
