.nav_btn_container {
  height: 155px;
  width: fit-content;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 30px;
  gap: 20px;
}

/* Restart button */
.btn {
  align-items: center;
  appearance: none;
  background-color: transparent;
  filter: blur(1px);
  border: 1px solid #ffffff;
  border-radius: 0.375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: Poppins;
  font-size: 1vw;
  height: 2.5vw;
  justify-content: center;
  line-height: 1.5;
  padding: calc(0.5em - 1px) 2em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  opacity: 100%;
}
/* Why a tag is taking height */
a {
  text-decoration: none;
  height: 2.5vw;
}
.btn:active {
  box-shadow: rgba(0, 2, 12, 0.164) 0 0 0 0.125em;
  outline: 0;
}

.btn:focus {
  outline: 0;
}
.btn:hover {
  border-color: #fff;
  filter: blur(0px);
}
.btn-primary {
  color: lightcyan;
  border: 1px solid lightcyan;
}
.btn-primary:hover {
  border-color: lightcyan;
}
