/** @format */

#main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-background {
  background: var(--default-bg);
}

/* Theme colors for body */
.warm-flame {
  background: #fad0c4;
}

.night-fade {
  background: #a18cd1;
}

.rainy-asheville {
  background: #fbc2eb;
}

.winter-neva {
  background: #c2e9fb;
}

.heavy-rain {
  background: #e2ebf0;
}

.new-york {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.kind-steel {
  background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.polite-rumors {
  background: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%);
}

.magic-lake {
  background: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
}

.loon-crest {
  background:
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
}
.dirty-beauty {
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
}
.soft-cherish {
  background-image: linear-gradient(
    to top,
    #dbdcd7 0%,
    #dddcd7 24%,
    #e2c9cc 30%,
    #e7627d 46%,
    #b8235a 59%,
    #801357 71%,
    #3d1635 84%,
    #1c1a27 100%
  );
}
.premium-dark {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.cold-evening {
  background-image: linear-gradient(
    to top,
    #0c3483 0%,
    #a2b6df 100%,
    #6b8cce 100%,
    #a2b6df 100%
  );
}
.passionate-bed {
  background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
}
.eternal-constance {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
.midnight-bloom {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}
.opacity-zero {
  opacity: 0;
}
.click-bg {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
}
